## Build & Output Directories
bin/
obj/
out/

## Visual Studio Temporary Files & Folders
.vs/
*.user
*.userosscache
*.sln.docstates

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Publish Output
*.deploy
*.pubxml